.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex1{
    flex: 1
}
.button-create{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: flex-end;
    cursor: pointer;
    background-color: #4e73df;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
}

.button-edit {
    background-color: #4e73df;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff !important;
    border: 0px !important;
    cursor: pointer;
}

.button-delete {
    background-color: #b02a37;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff !important;
    cursor: pointer;
}
.button-quaylai {
    background-color: #858796;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff !important;
    cursor: pointer;
}
.button-thanhtoan {
    background-color: #1cc88a;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff !important;
    cursor: pointer;
}

.ban-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.ban-info {
    width: 200px;
    height: 200px;
    background-color: #1cc88a;
    color: black;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

.ban-busy {
    background-color: #b02a37;
}